@using MVCProje.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Customers>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@*@using (Html.BeginForm("Index", "Customer", FormMethod.Get))
{
    <p>
        <b>Aranacak Müşteri Adı:>/b> @Html.TextBox("search")
        <input type="submit" value="Ara" />
    </p>
}*@


<br />
<a href="/Customer/AddCustomer/" class="btn btn-primary" style="width:300px">YENİ MÜŞTERİ EKLE</a>

<table class="table table-bordered" style="margin-top:15px">
    <tr>
        <th>MÜŞTERİ ID</th>
        <th>MÜŞTERİ ADI</th>
        <th>MÜŞTERİ SOYADI</th>
        <th>E-MAİL</th>
        <th></th>
        <th></th>
        <th>ALERT</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.CustomerId</th>
                <td>@item.CustomerName</td>
                <td>@item.CustomerSurname</td>
                <td>@item.CustomerEmail</td>
                <td><a href="/Customer/DeleteCustomer/@item.CustomerId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Customer/GetCustomer/@item.CustomerId" class="btn btn-success">Güncelle</a></td>
                <td>@Html.ActionLink("Sil...", "DeleteCustomer", new { id = item.CustomerId }, new { @class = "btn btn-warning", onclick = "return confirm('Gerçekten Silmek İstiyor musunuz?')" })</td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
