@model MVCProje.Models.Entity.Products
@{
    ViewBag.Title = "GetProduct";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("UpdateProduct", "Product", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(p => p.ProductId)
    @Html.TextBoxFor(p => p.ProductId, new { @class = "form-control" })
    <br />
    @Html.LabelFor(p => p.ProductName)
    @Html.TextBoxFor(p => p.ProductName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(p => p.Categories)
    @Html.DropDownListFor(p=>p.Categories.CategoryId,(List<SelectListItem>)ViewBag.categories, new { @class = "form-control" })
    @*@Html.TextBoxFor(p => p.Categories.CategoryId, new { @class = "form-control" })*@
    <br />
    @Html.LabelFor(p => p.ProductPrice)
    @Html.TextBoxFor(p => p.ProductPrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(p => p.ProductStock)
    @Html.TextBoxFor(p => p.ProductStock, new { @class = "form-control" })
    <br />
    @Html.LabelFor(p => p.ProductDescription)
    @Html.TextAreaFor(p => p.ProductDescription, new { @class = "form-control" })
    <br />

</div>
    <div>
        <button class="btn btn-success">Güncelle</button>
    </div>
}