@using MVCProje.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Products>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<br />  
<a href="/Product/AddProduct/" class="btn btn-primary" style="width:300px">YENİ ÜRÜN EKLE</a>


<table id="tblProduct" class="table table-bordered" style="margin-top:15px">
    <thead>
        <tr>
            <th>ÜRÜN ID</th>
            <th>ÜRÜN ADI</th>
            <th>KATEGORİ</th>
            <th>ÜRÜN FİYATI</th>
            <th>STOK</th>
            <th>AÇIKLAMA</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.ProductId</th>
                <td>@item.ProductName</td>
                <td>@item.Categories.CategoryName</td>
                <td>@item.ProductPrice</td>
                <td>@item.ProductStock</td>
                <td>@item.ProductDescription</td>
                <td><a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Product/GetProduct/@item.ProductId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

@*<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />

bu script eksik
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pd"></script>

<script>
    $('tblProduct').DataTable()
</script>*@